#Ignore Maven target folder
target/

#Ignore Eclipse files
.settings/
.classpath
.project
#Ignore Eclipse APT configuration file created by https://github.com/jbosstools/m2e-apt
.factorypath

#Ignore Intellij files
*.iml
*.iws
*.ipr
.idea/

#Ignore Mac files
.DS_Store
/core/target/
/base/target/
nb-configuration.xml
/processor/target/
/generator/target/